* {
    padding: 0;
    margin: 0;
}

html,
body,
.content {
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
}

.content>.top {
    position: fixed;
    width: 100%;
    
    background-color: brown;
    display: flex;


}

.content>.bottom {
    flex: 1;
    display: flex;
}

.content>.bottom>.slide {
    width: 230px;
    background-color: aqua;
    box-sizing: border-box;
    padding: 15px;
    font-size: 25px;
}

.content>.bottom>.slide>a {
    display: block;
    margin: 10px 0;
}

.content>.bottom>.bottomRight {
    width: 100%;
    background-color: coral;
    box-sizing: border-box;
    padding: 15px;
    font-size: 20px;
}