* {
    padding: 0;
    margin: 0;
}

html,
body,
.content {
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
}

.content>.top {                 /* 最上导航等 */
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    width: 100%;

    /* background-color: brown; */
    background-image: url(images/topBackground.png);
    background-size: cover;
    background-repeat: no-repeat;

    
}

.content>.top>:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}
.content>.top>*{
    margin-top: 35px;
}

.content>.top>:first-child>* {
    display: flex;
    justify-content: center;
}
.content>.top>:first-child>*:first-child{
    flex: 2;
}
.content>.top>:first-child>*:last-child{
    flex: 1;
}
.content>.bottom {
    flex: 1;
    display: flex;
}

.content>.bottom>.slide {
    width: 230px;
    background-color: aqua;
    box-sizing: border-box;
    padding: 15px;
    font-size: 25px;
}

.content>.bottom>.slide>a {
    display: block;
    margin: 10px 0;
}

.content>.bottom>.bottomRight {
    width: 100%;
    background-color: coral;
    box-sizing: border-box;
    padding: 15px;
    font-size: 20px;
}


ul,
li {
    list-style: none;
    /* 清除列表的标记样式 */
    margin: 0;
    /* 清除上下的外边距 */
    padding: 0;
    /* 清除左右的内边距 */

    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    flex: 1;
    padding-bottom: 12px;
    color: white;
}
ul:last-child::after{
    content: '';
    flex: 1;
}
ul:first-child::before{
    content: '';
    flex: 1;
}