* {
    padding: 0;
    margin: 0;
}

html,
body,
.content {
    width: 100%;
    height: 100%;
    min-width: 80%;
}


/* 清除默认样式 */
ul,
li {
    list-style: none;
    /* 清除列表的标记样式 */
    margin: 0;
    /* 清除上下的外边距 */
    padding: 0;
    /* 清除左右的内边距 */
}
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
/* 清除默认样式 */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:baseline;
}

.content>.top {
    /* 最上导航等 */
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    width: 100%;

    /* background-color: brown; */
    background-image: url(images/topBackground.png);
    background-size: cover;
    background-repeat: no-repeat;

    ul,
    li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    li {
        flex: 1;
        padding-bottom: 12px;
        color: white;
    }

    ul:last-child::after {
        content: '';
        flex: 1;
    }

    ul:first-child::before {
        content: '';
        flex: 1;
    }
}

.content>.top>:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content>.top>* {
    margin-top: 35px;
}

.content>.top>:first-child>* {
    display: flex;
    justify-content: center;
}

.content>.top>:first-child>*:first-child {
    flex: 2;
}

.content>.top>:first-child>*:last-child {
    flex: 1;
}

.centerCoat{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}
.center{
    min-width: 1000px;
    max-width: 2000px;
}
/* .center::after{
    content: '';
    width: 260px;
}
.center::before{
    content: '';
    width: 260px;
} */